.about {
    background-image: url(../../../img/cachorrinho_feroz/cachorrinho_feroz.png);
    background-color: var(--background-color-primary);
}

.about_box {
    display: flex;
    justify-content: flex-end;
}

.about h2 {
    color: var(--letter-color-white);
}

.about  p {
    color: var(--letter-color-white);
}

.about button {
    background-color: var(--background-btn-about);
    color: var(--letter-btn-color-dark);
}

@media screen and (max-width:576px) {
    .about {
        background-image: url(../../../img/cachorrinho_feroz/cachorrinho_feroz_mobile.png);
    }

    .about_box {
        justify-content: center;
    }

    .about h2 {
        width: 100vw;
    }
}