.about {
    background-image: url(../../../img/cachorrinho_3/cachorrinho_3.png);
    background-color: var(--background-color-1);
}

.about_box {
    display: flex;
    justify-content: flex-end;
}

.about h2 {
    color: var(--letter-color-1);
}

.about  p {
    color: var(--letter-color-1);
}

.about button {
    background-color: var(--background-btn-about);
    color: var(--letter-color-2);
}

@media screen and (max-width:576px) {
    .about {
        background-image: url(../../../img/cachorrinho_3/cachorrinho_3_mobile.png);
    }

    .about_box {
        justify-content: center;
    }

    .about h2 {
        width: 100vw;
    }
}