.welcome {
    background-image: url(../../../img/cachorrinho_1/cachorrinho_1.png);
    background-color: var(--background-color-primary);
}

.welcome div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 55vh;
}

.welcome div h2 {
    color: var(--letter-color-white);

    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    white-space: pre-line;

    width: 38vw;
}

.welcome figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 20vh;
}

@media screen and (max-width:576px) {
    .welcome {
        background-image: url(../../../img/cachorrinho_1/cachorrinho_1_mobile.png);
    }

    .welcome div {
        width: 100vw;
        height: 50vh;
    }

    .welcome div h2 {
        font-size: 2.8rem;

        height: 20vh;
        width: 95vw;
    }

    .welcome figure {
        height: 25vh;
        width: 45vw;
    }
}