.dev {
    background-color: var(--background-color-tertiary);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 7vh;
}

.dev h3 {
    color: var(--letter-color-white);
    font-family: 'Open Sans', sans-serif;;
    font-size: 1.115rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

.dev nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 6vw;
}

.dev nav a:hover {
    transform: scale(120%);
}

@media screen and (max-width:576px) {
    .dev {
        flex-direction: column;
        align-items:center;
        justify-content: center;

        height: 13.5vh; 
    }

    .dev nav {
        height: 7.2vh;
        width: 25vw;
    }
}