@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Serif:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;500&display=swap');

:root {
    --font-subtitle: 'Roboto Serif', serif;
    --font-text: 'Roboto', sans-serif;

    /* Background colors for buttons */
    --background-btn-services: #3A342F;
    --background-btn-about: #FFFFFF;

    /* Background colors */
    --background-color-primary: #EB4A7B;
    --background-color-secondary: #FFFFFF;
    --background-color-tertiary: #252525;

    /* Letter (text) colors for buttons */
    --letter-btn-color-light: #F4F2F3;
    --letter-btn-color-dark: #000000;

    /* Letter (text) colors */
    --letter-color-white: #FFFFFF;
    --letter-color-dark: #3A342F;
    --letter-color-accent: #FD6A9A;
} 

a {
    text-decoration: none;
}

.bg_img-config {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90vh; 
}

.box-main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 88vh;
    width: 45vw;
}

.subtitle {
    font-family: var(--font-subtitle);
    font-size: 3.063rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text {
    font-family: var(--font-text);
    font-size: 1.688rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 30px 0 30px 0;
    width: 22vw;
}

.btn {
    border-radius: 50px;
    border: none;
    cursor: pointer;

    font-family: var(--font-text);
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    height: 78px;
    width: 249px;
}

.btn:hover {
    transform:  scale(105%);
}

@media screen and (max-width: 576px) {
    .box-main{
        margin-left: 23px;
        width: 100vw;
        height: 40vh;
    }

    .subtitle {
        font-size: 2rem;
    }

    .text {
        font-size: 1.2rem;
        margin: 15px 0 15px 0;
        width: 80vw;
    }

    .btn {
        font-size: 18px;
        width: 40vw;
        height: 45px;
    }
}

