header {
    background-color: var(--background-color-tertiary);
    display: flex;
    justify-content: space-around;

    height: 8vh;
}

header figure {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 11.5vw;
}

header figure img {
    height: 6.2vh;
    width: 3vw;
}

header h1 {
    color: var(--letter-color-white);
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.32px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 17vw;
}

header nav img {
    height: 5vh;
    width: 2.5vw;
}

header nav a:hover {
    transform:  scale(120%);
}

@media screen and (max-width:576px) {
    header {
        height: 18vh;
    }

    header figure {
        width: 85vw;
    }

    header figure img {
        height: auto;
        width: 15vw;
    }

    header figure h1 {
        font-size: 30px;
    }

    header nav {
        width: 25vw;
    }

    header nav a:nth-child(2n+1) {
        display: none;
    }

    header nav img {
        width: 15vw;
        height: 8.5vh;
    }
}